# ignore cache
caches/

# ignore backups
backups/

# ignore sensible ssh files
files/link/.ssh/*

# ignore files with LOCAL in the name
*LOCAL*

# ignore flag for detect installation
installed

# ignore local files
locals/*
